@import '../../../styles/variables';

.ChallengeTeaser {
display: flex;
flex-wrap: wrap;
margin-top: 5%;
margin-bottom: 5%;
border-radius: 25px;

  .challengeTeaserTextArea {
    background-color: $darkGreen;
    border-radius: 25px;
    margin-bottom: 25px;
    }
  
  .challenge-teaser-header {
    color: $cream;
    margin-top: 25px;
    margin-bottom: 10px;

  }

  .line-divider {
    border: 1px solid $cream;
    // border-bottom-color: $cream;
    // border-width: 1px;
    // border-style: solid;
    margin-bottom: 25px;
  }


  .challenge-teaser-text-body {
    display: inline-block;
    color: $cream;
    text-align: center;
    margin-bottom: 25px;
  }

  .challegeTeaserImageArea {
    align-self: center;
  }

  .challenger-teaser-button {
    color: $shadow;
    background-color: $lightGreen;
    margin-bottom: 25px;
  }

  .challenger-teaser-button:hover {
    color: $shadow;
    background-color: $cream;
  }

}

.challenge-teaser-image {
  height: 150px;
}
