@import '../../../styles/variables';

.Auth {
  display: block;
  padding-top: 15px;

  .auth-text-area {
    background-color: $cream;
    border-radius: 25px;
    color: $shadow;
  }

  .login-button-intro-text {
    color: $shadow;
  }

  .login-button {
    color: $cream;
    background-color: $blue;
    margin-bottom: 25px;
  }

  .login-button:hover {
    color: $shadow;
    background-color: $lightGreen;
    // background-color: $blue;
  }
}
