@import '../../../styles/variables';

.LearnMore {
  display: block;
  background-color: $cream;
  border-radius: 25px;
  padding: 25px;
  margin: 5vh 0px 5vh 0px;
 
  img {
    width: 25%;
  }

  .page-header {
    color: $blue;
    font-weight: bolder;
    padding: 3%;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: $lightGreen;
    margin-bottom: 5%; 
  }

  .section-title {
    color: $blue;
    font-weight: bold;
  }

  p {
    padding: 1% 50px 5% 50px;

  }
}
